<!-- <div class="container">
   <h1>You are viewing Movie list</h1>

   <table class="table-striped">
      <thead>
         <tr>
            <th>Movie Id</th>
            <th>Movie Title</th>
            <th>Movie Price</th>
            <th>Movie release Year</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody class="">
         <tr *ngFor="let movie of movies">
            <td>{{movie.movie_id}}</td>
            <td>{{movie.movie_title}}</td>
            <td>{{movie.movie_cost | currency}}</td>
            <td>{{movie.movie_year }}</td>
            <td><button class="btn btn-sm btn-outline-secondary" (click)="updateMovie(movie.movie_id)">Edit</button>
            </td>
            <td><button class="btn btn-sm btn-outline-secondary" (click)="deleteMovie(movie)">Delete</button></td>
         </tr>
      </tbody>
   </table>
</div> -->
<!-- <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="movie_title"> -->

<div class="container" id="bigcontainer">
   <nav >
      <ul id="searchbar">
        <input class="form-control" type="text" placeholder="Search For Movie" class="form-control" [(ngModel)]= "searchText">
      </ul>
    </nav>
   <div class="album py-5 bg-dark" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3" >
      <div id="thumbnail" class="" *ngFor="let movie of movies | filter: searchText | paginate: { itemsPerPage: 10, currentPage: page }" > <!--| filter:movie_title-->
         
         <div >
            <div class="col">
               <div class="card shadow-sm" >
                  <img  class="bd-placeholder-img card-img-top rounded img-thumbnail" width="100%" height="100%" role="img" src="{{movie.thumbnail}}" alt="{{movie.title}}"
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" (click)="updateMovie(movie.movie_id)"/>
                  <div class="card-body">
                     <!-- <td>{{movie.movie_id}}</td> -->
                     <p class="card-text">{{movie.title}}</p>
                     <p class="card-text">{{movie.cost | currency}}</p>
                     <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                           <button class="btn" (click)="deleteMovie(movie)">Delete</button>
                        </div>
                        <small class="text-muted">{{movie.year}}</small>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="has-text-centered">
   <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>
