<div id="background">
    <div class="container">
        <form class="form" [formGroup]="loginForm">
            <div class="container2">
                <div class="flex-container">
                    <h1>Login</h1>
                </div>
                <div class="flex-container">
                    <input class="textarea" type="text" placeholder="Username" formControlName="loginid">
                </div>
                <div class="flex-container">
                    <input class="textarea" type="password" placeholder="Password" formControlName="password">
                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                </div>
                <div class="flex-container">
                    <button class="button" id="loginBtn" (click)="onSubmit()"><span>Log In</span></button>
                </div>
                <div>
                    <a href="#" id="forgetPwd">Forgotten Password?</a>
                </div>
                <div class="flex-container">
                    <button class="button" id="register" routerLink="/register">Create New Account</button>
                </div>
            </div>
        </form>
    </div>
</div>
