<!-- <div class="container">
    <h1>You are viewing Actor list</h1>
    <table class="table-striped">
        <thead>
           <tr>
              <th>Actor Id</th>
              <th>Actor First Name</th>
              <th>Actor Last Name</th>
              <th>Gender</th>
              <th>Age</th>
              <th></th>
              <th></th>
           </tr>
        </thead>
        <tbody class="">
          
          <tr *ngFor="let actor of actors">
           
           <td>{{actor.actor_Id}}</td>
            <td>{{actor.firstName}}</td>
            <td>{{actor.lastName }}</td>
            <td>{{actor.gender }}</td>
            <td>{{actor.age }}</td>
            <td><button class="editBtn" (click)="updateActor(actor.actor_Id)">Edit</button></td>
            <td><button class="deleteBtn" (click)="deleteActor(actor)">Delete</button></td>
          </tr>
        </tbody>
     </table>
</div> -->

<div class="container">
   <div class="album py-5 bg-dark" class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3" >
      <!-- angular takes care of DOM manipulation -->
      <!-- structural directive -->
      <div class="" *ngFor="let actor of actors | paginate: { itemsPerPage: 10, currentPage: page }" > <!--| filter:movie_title-->
         <!-- {{}} string interpolation-->
         <div>
            <div class="col">
               <div class="card shadow-sm" >
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                     aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" (click)="updateActor(actor.actor_Id)">
                     <title>{{actor.firstName}}</title>
                     <rect width="100%" height="100%" fill="#55595c" />
                     <a src="../assets/images/hehe.jpg"></a>
                     <text x="50%" y="50%" fill="#eceeef" dy=".3em">Show Me Your Badge</text>
                  </svg>
                  <div class="card-body">
                     <p class="card-text">{{actor.firstName}}</p>
                     <p class="card-text">{{actor.lastName}}</p>
                     <p class="card-text">{{actor.gender}}</p>
                     <p class="card-text">{{actor.age}}</p>
                     <div class="d-flex justify-content-between ;align-items-center">
                        <div class="btn-group">
                           <button class="btn" (click)="deleteActor(actor)">Delete</button>
                        </div>
                        <small class="text-muted">{{actor.actor_Id}}</small>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="has-text-centered">
   <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>