<h2>Update Movie</h2> <br><br>
<!-- Template driven forms -->
    <form (ngSubmit)="updateMovie()" >
        <div>
            <div class="form-group">
                <label for="id">Id :</label>
                <input disabled type="text" id="id" name="id" class="form-control"  [(ngModel)]="movie.movie_id"><br>
            </div>
            <div class="form-group">
                <label for="Title">Title :</label>
                <input type="text" id="name" name="title" class="form-control" [(ngModel)]="movie.movie_title"><br><br>
            </div>
            <div class="form-group">
                <label for="Cost">Cost :</label>
                <input type="text" id="cost" name="cost" class="form-control"[(ngModel)]="movie.movie_cost"><br><br>
            </div>
            <div class="form-group">
                <label for="salary">Year Release :</label>
                <input type="text" id="yearRelease" name="yearRelease" class="form-control"[(ngModel)]="movie.movie_year"><br><br>
            </div>
        </div>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <!-- event binding (click) -->
        <button class="btn btn-success" class="btn btn-warning">Update</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-info">Clear</button>
        <br><br>
    </form>