<div class="">
      <nav class="navbar navbar-dark navbar-expand-sm">
        <ul class="navbar-nav">
          <li>
            <a class="nav-link" routerLink="/movies" routerLinkActive="active">View Movies</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/add-movies" routerLinkActive="active">Add Movies</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/movie-reviews" routerLinkActive="active">View Movie Review</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/search-actors" routerLinkActive="active">Search</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/add-actor" routerLinkActive="active">Add Actor</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/actors" routerLinkActive="active">View Actor</a>
          </li>
          <li>
            <a class="nav-link" routerLink="/add-movie-review" routerLinkActive="active">Add Movie Review</a>
          </li>
          
        </ul>
      </nav>
  <!-- <app-login></app-login> -->
  <router-outlet></router-outlet>
</div>