ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} 

li{
    float: left;
}

li a{
    display: block;
    color: rgb(162, 65, 165);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(162, 65, 165);
    color : white;
} 
input:focus { 
    outline: none !important;
    border-color: rgb(162, 65, 165);
    box-shadow: 0 0 10px rgb(162, 65, 165);
}
textarea:focus { 
    outline: none !important;
    border-color: rgb(162, 65, 165);
    box-shadow: 0 0 10px rgb(162, 65, 165);
}
#bigcontainer {
    margin-top: 0;
    margin-bottom: 0%;
    padding: 0;
}
