<!-- <div class="container">
    <h1>You are viewing Movie review list</h1>
    <table class="table-striped">
        <thead>
           <tr>
              <th>Review Id</th>
              <th>Date</th>
              <th>Description</th>
              <th>Rating</th>
              <th>Customer Id</th>
              <th>Movie Id</th>
              <th></th>
              <th></th>
           </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let review of movieReview">
           <td>{{review.review_id}}</td>
            <td>{{review.date_posted}}</td>
            <td>{{review.description}}</td>
            <td>{{review.rating }}</td>
            <td>{{review.movie_id }}</td>
            <td><button class="editBtn" (click)="updateMovieReview(review.review_id)">Edit</button></td>
            <td><button class="deleteBtn" (click)="deleteMovieReview(review)">Delete</button></td>
          </tr>
        </tbody>
     </table>
</div> -->

<div class="container" id="bigcontainer">
   <nav >
      <ul id="searchbar">
        <input class="form-control" type="text" placeholder="Search For Movie" class="form-control" [(ngModel)]= "searchText">
      </ul>
    </nav>
   <div class="album py-5 bg-dark" class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3" >
      <!-- angular takes care of DOM manipulation -->
      <!-- structural directive -->
      <div id="thumbnail" class="" *ngFor="let review of movieReview |filter: searchText | paginate: { itemsPerPage: 8, currentPage: page }" > <!--| filter:movie_title-->
         <!-- {{}} string interpolation-->
         <div>
            <div class="col">
               <div class="card shadow-sm" >
                  <img class="bd-placeholder-img card-img-top rounded img-thumbnail" width="100%" height="100%" role="img" src="{{getMovieImg(review.movie_id)}}" alt="{{review.review_id}}"
                  aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" (click)="updateMovieReview(review.review_id)"/>
                  <div class="card-body">
                     <p class="card-text">{{review.rating }}</p>
                     <p class="card-text">{{review.date_posted}}</p>
                     <p class="card-text">{{review.description}}</p>
                     <div class="d-flex justify-content-between ;align-items-center">
                        <div class="btn-group">
                           <button class="btn" (click)="deleteMovieReview(review)">Delete</button>
                        </div>
                        <small class="text-muted">{{review.movie_id}}</small>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="has-text-centered">
   <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>