/* You can add global styles to this file, and also import other style files */
div{
    text-align: center;
}
/* a:visited { 
    text-decoration: none; 
    color:red;
}
a{
    text-decoration: none;
} */
input:focus { 
    outline: none !important;
    border-color: rgb(162, 65, 165);
    box-shadow: 0 0 10px rgb(162, 65, 165);
}
textarea:focus { 
    outline: none !important;
    border-color: rgb(162, 65, 165);
    box-shadow: 0 0 10px rgb(162, 65, 165);
}
/* Desktop Screen */
@media only screen and (min-width: 1080px) {
    div {
       
    }

    #background {
        background-color: grey;
    }

    .container {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        background-color: white;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container2 {
        margin-left: auto;
        margin-right: auto;
        
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    form {
        max-width: 90%;
        padding-left: 5%;
        padding-right: 5%;

    }
    .textarea{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .button {
        border: 0;
        font-size: medium;
        cursor: pointer;
        border-radius: 10px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .button:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #forgetPwd {
        text-decoration: none;
    }

    #loginBtn {
        background-color: rgb(162, 65, 165);
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    #register {
        background-color: rgb(52, 179, 58);
        padding-top: 10px;
        padding-bottom: 10px;
    }
} 

/* Landscape tablet */
/* @media only screen and (min-width: 768px) {
    div {
        border: 1px solid black;
    }

    #background {
        background-color: grey;

    }

    .container {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        background-color: white;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container2 {
        margin-left: auto;
        margin-right: auto;
        background-color: gray;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    form {
        max-width: 90%;
        padding-left: 5%;
        padding-right: 5%;

    }
    .textarea{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #loginBtn {
        background-color: rgb(162, 65, 165);
        width: 200px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/* Portrait Tablet */
/* @media only screen and (min-width: 600px) {
    div {
       
    }

    #background {
        background-color: grey;

    }

    .container {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        background-color: white;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container2 {
        margin-left: 5%;
        margin-right: 5%;
        
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    form {
        max-width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .textarea{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .button {
        border: 0;
        color: white;
        font-size: medium;
        cursor: pointer;
        border-radius: 10px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .button:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #forgetPwd {
        text-decoration: none;
    }

    #loginBtn {
        background-color: rgb(162, 65, 165);
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;

    }


    #register {
        background-color: rgb(52, 179, 58);
        padding-top: 10px;
        padding-bottom: 10px;
    }
} */

/* Mobile screen */
/*@media only screen and (max-width: 600px) {
    div {
       
    }

    #background {
        background-color: grey;

    }

    .container {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        background-color: white;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .container2 {
        margin-left: auto;
        margin-right: auto;
        
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    form {
        max-width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .textarea{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .button {
        border: 0;
        color: white;
        font-size: medium;
        cursor: pointer;
        border-radius: 10px;
    }

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button:hover span {
        padding-right: 25px;
    }

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }

    .button:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    #forgetPwd {
        text-decoration: none;
    }

    #loginBtn {
        background-color: rgb(162, 65, 165);
        width: 200px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;

    }


    #register {
        background-color: rgb(52, 179, 58);
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/