<div id="background">
    <div class="container">
        <form class="form" [formGroup]="registerAdminForm" >
            <div class="flex-container">
                <h1>Administrator Registration</h1>
            </div>
            <div class="flex-container">
                <div class="flex-container">
                    <div class="form-group">
                        <input type="hidden" formControlName="admin_id" />
                        <input class="textarea" type="email" placeholder="Email@email.com" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                        <div class="notEmpty" [hidden]="!registerAdminForm.controls['email'].errors?.['required']"
                            *ngIf="!email?.valid && (email?.touched && email?.dirty)">Email is required
                        </div>
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
                            <div *ngIf="f['email'].errors?.['pattern']">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="form-group">
                        <input class="textarea" type="text" placeholder="Name" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                        <div class="notEmpty" [hidden]="!registerAdminForm.controls['name'].errors?.['required']"
                            *ngIf="!name?.valid && (name?.touched && name?.dirty)">Name is required
                        </div>
                        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                            <div *ngIf="f['name'].errors?.['minlength']">Name must be at least 6 characters</div>
                            <div *ngIf="f['name'].errors?.['maxlength']">Name has a maximum of 20 characters</div>
                            <div *ngIf="f['name'].errors?.['pattern']">Name must be in alphabets</div>
                        </div>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="form-group">
                        <input class="textarea" type="text" placeholder="91234567" formControlName="phone"
                            [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
                        <div class="notEmpty" [hidden]="!registerAdminForm.controls['phone'].errors?.['required']"
                            *ngIf="!phone?.valid && (phone?.touched && phone?.dirty)">Phone is required
                        </div>
                        <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                            <div *ngIf="f['phone'].errors?.['minlength']">Phone must be 8 digits</div>
                            <div *ngIf="f['phone'].errors?.['maxlength']">Phone must be 8 digits</div>
                            <div *ngIf="f['phone'].errors?.['pattern']">Is that a valid phone number?</div>
                        </div>
                    </div>
                </div>

                <div class="flex-container">
                    <div class="form-group">
                        <input class="textarea" type="text" placeholder="User Name" formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                        <div class="notEmpty" [hidden]="!registerAdminForm.controls['username'].errors?.['required']"
                            *ngIf="!username?.valid && (username?.touched && username?.dirty)">Username is required
                        </div>
                        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                            <div *ngIf="f['username'].errors?.['minlength']">Username must be at least 6 characters</div>
                            <div *ngIf="f['username'].errors?.['maxlength']">Username has a maximum of 20 characters</div>
                            <div *ngIf="f['username'].errors?.['pattern']">Username must be in aphanumerics</div>
                        </div>
                    </div>

                </div>

                <div class="flex-container">
                    <div class="form-group">
                        <input class="textarea" type="password" placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                        <div class="notEmpty" [hidden]="!registerAdminForm.controls['password'].errors?.['required']"
                            *ngIf="!password?.valid && (password?.touched && password?.dirty)">Password is required
                        </div>
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters</div>
                            <div *ngIf="f['password'].errors?.['pattern']">Password must contain at least </div>
                        </div>
                    </div>
                </div>

                <div class="flex-container">
                    <button class="button" id="register" (click)="onSubmit()">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
