
<!-- Template driven forms -->
    <form (ngSubmit)="updateMovieReview()" >
        <div class="container" id="bigcontainer">
            <h2>Update Movie Review</h2>
            <div class="form-group">
                <label for="id">Review Id :</label>
                <input disabled type="text" id="review_id" name="review_id" class="form-control"  [(ngModel)]="movieReview.review_id"><br>
            </div>
            <div class="form-group">
                <label for="Title">Date :</label>
                <input type="text" id="name" name="title" class="form-control" [(ngModel)]="movieReview.date_posted"><br><br>
            </div>
            <div class="form-group">
                <label for="Cost">Description :</label>
                <input type="text" id="description" name="description" class="form-control"[(ngModel)]="movieReview.description"><br><br>
            </div>
            <div class="form-group">
                <label for="salary">Rating :</label>
                <input type="text" id="rating" name="rating" class="form-control"[(ngModel)]="movieReview.rating"><br><br>
            </div>
            <div class="form-group">
                <label for="salary">movie_id :</label>
                <input disabled type="text" id="movie_id" name="movie_id" class="form-control"[(ngModel)]="movieReview.movie_Id"><br><br>
            </div>
        </div>
        <br>
        
        <!-- event binding (click) -->
        <button class="btn btn-success" class="btn btn-warning">Update</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset" class="btn btn-info">Clear</button>
        <br><br>
    </form>